@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    padding: 73px;
    margin-top: 120px;
    z-index: 1;
    /* border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%; */
}

.bgImage {
    position: absolute;  /* Position it absolutely inside the container */
    top: 0;  /* Align the image to the top */
    left: 0;  /* Align the image to the left */
    width: 100%;  /* Ensure the image spans the full width */
    height: 100%;  /* Ensure the image spans the full height */
    object-fit: cover;  /* Ensure the image covers the entire container while maintaining its aspect ratio */
    z-index: -1;  /* Place the image behind the content */
    border-radius: 15px;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    background-image: linear-gradient(
        90deg,
        rgba(15, 15, 30, 0.6) 0%,
        rgba(5, 5, 20, 0.6) 40%,
        rgba(0, 0, 0, 0) 60%
    );
    background-size: 100% 100%;
    border-radius: 15px;
    padding: 13px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(
        90deg,
        rgba(15, 15, 30, 0.95) 0%,
        rgba(0, 0, 0, 0.95) 100%
    );
    background-size: 100% 100%;
    border-radius: 15px;
    padding: 5px;
}

.aboutImage {
    width: 35%;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg,
        rgba(140, 70, 0, 0.3) 0%,
        rgba(50, 20, 0, 0.2) 35%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    text-decoration: none;
}
.aboutItem:hover {
    background-size: 100% 100%;
}
.aboutItem h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 6px;
}
.aboutItem p {
    font-size: 25px;
}

.aboutItemText {
    color: var(--color-text);
}


@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
        margin-left:  15px;
        margin-right: 15px;
        border-radius: 50px;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top:   15px;
        margin-left:  15px;
        margin-right: 15px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
   }
}