:root {
    /* colors */
    --color-text: #fff;
    --color-text-2: #9393f0;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    
/**  
FONTS (from fontsource)
**/
    /* sans-serif */
    --font-roboto: "Roboto";
    --font-outfit: "Outfit";
    --font-baskerville: "Libre Baskerville"
    --font-playfair-display: "Playfair Display";
    --font-dm-serif-display: "DM Serif Display";
    /* serif */
    --font-roboto-slab: "Roboto Slab";
    --font-oswald: "Oswald";
    --font-montserrat: "Montserrat";
    /* monospace */
    --font-jetbrains-mono: "JetBrains Mono";

}

/* variables.css */
/* used for defining properties such as fonts and properties in a single place */